* {
    --background: white !important;
    font-family: "Inter", sans-serif !important;
    color: black !important;
}

ion-content {
    #head {
        margin: 0 2rem;
        margin-top: 2rem;
        margin-bottom: 4.5rem;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    #list {
        margin: 0 2rem;
        // position: relative !important;

        ion-accordion-group {
            border-left: 4px solid blueviolet;

            ion-accordion-group::part(native){
                --background: red;
                border-radius: 10px;
            }

            ion-item[slot="header"] {
                color: rgba(98, 101, 171, 1);
                margin: 0 auto;
                background: white;
            }

            div[slot="content"] {
                background: rgba(239, 245, 247, 1);
                margin: 0.5rem 0;
                padding: 0.3rem;
                border-radius: 6px;
                color: black;
                background-color: none;
                font-size: 16px;
                font-weight: 400;
            }

            ion-label {
                margin: 0 !important;
            }
        }
    }
}
