* {
    --background: white !important;
    font-family: "Inter", sans-serif !important;
    color: black;
}

ion-content {
    #head {
        margin: 0 2rem;
        margin-top: 2rem;
        margin-bottom: 4.5rem;
        display: flex !important;
        justify-content: space-between !important;
        align-items: center !important;
    }

    .list {
        position: relative !important;
        ion-accordion-group {
            margin: 0 2rem 0 1rem !important;

            ion-item::part(native) {
                // background-color: red;
                // border-color: red;
                // border-width: 2px;

                // --border-radius: 20px;
                // --padding-start: 0px !important;
                color: rgba(98, 101, 171, 1);
            }

            ion-item[slot="header"] {
                color: rgba(98, 101, 171, 1);
                margin: 0 auto;
                background: white;

                ion-label {
                    margin-left: 2rem !important;

                    p {
                        color: rgba(98, 101, 171, 1);
                        font-size: 15px;
                    }

                    #circle {
                        position: absolute !important;
                        left: -5px !important;
                    }
                }
            }

            div[slot="content"] {
                p {
                    width: auto;
                    color: black;
                    font-size: 16px;
                    font-weight: 400;
                    background-color: rgba(239, 245, 247, 1);
                    border-radius: 9px;
                    margin: 0 3rem;
                    // margin: 0 3rem 0 1.5rem;
                    padding: 6px, 11px, 6px, 11px;
                }
            }
        }

        ion-accrodion-group:after {
            content: " ";
            height: 50%;
            position: absolute;
            top: 50%;
            border-left: 2px solid black;
        }
    }
}

.container-linea-percorso {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 2rem;
    top: 0;
    height: 100%;
    z-index: 2;

    .linea-percorso {
        position: absolute;
        border: 2px solid blueviolet;
        height: 100%;
        width: 0px;
    }

    .circle {
        z-index: 1;
        margin-top: 14px;
    }
}

#accordion-container .list:first-child {
    .container-linea-percorso {
        .linea-percorso {
            position: absolute;
            border: 2px solid blueviolet;
            height: calc(100% - 20px);
            top: 20px;
            width: 0px;
        }
    }
}

#accordion-container .list:last-child {
    .container-linea-percorso {
        .linea-percorso {
            position: absolute;
            border: 2px solid blueviolet;
            height: 28px;
            width: 0px;
        }
    }
}
