@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "~leaflet/dist/leaflet.css";

* {
    --background: white !important;
    font-family: "Inter", sans-serif;
}

h5 {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 0.5rem;
}

#mini-guide {
    div {
        display: flex;
        margin: 0;
        align-items: center;

        p {
            margin: 0.1rem;
            margin-left: 0.4rem;
        }
    }
}

#other-child-btn {
    --color: rgba(98, 101, 171, 1);
    font-size: 12px;
    text-transform: initial;
}

ion-back-button,
ion-title {
    color: rgba(98, 101, 171, 1);
}

ion-content {
    #head {
        margin: 0 2rem;
        margin-top: 2rem;
        margin-bottom: 4.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #body-content {
        color: rgba(98, 101, 171, 1);
        margin: 0 2rem;
        margin-bottom: 2rem;

        #info {
            display: flex;
            align-items: center;
            max-width: 100%;
            padding: 1.5rem;
            margin-bottom: 2.5rem;
            border-radius: 15px;
            background: rgba(239, 245, 247, 1);

            svg {
                margin-right: 1rem;
            }

            #child-info {
                p {
                    color: black;
                    margin: 0;
                    font-size: 16px;
                }

                p:nth-of-type(2) {
                    margin-bottom: 0.5rem;
                }
                p:nth-of-type(3) {
                    font-size: 13px;
                }
                p:nth-of-type(4) {
                    font-size: 13px;
                }
            }
        }

        #calendar {
            ion-datetime {
                margin-top: 0.7rem;
                margin-bottom: 2rem;
                font-weight: bold;
                color: black;
                background: rgba(239, 245, 247, 1);
                border-radius: 15px;
                padding: 0.3rem;
            }

            ion-datetime::part(calendar-day) {
                font-weight: bold;
                color: black !important;
                margin: 0.1rem;
            }

            ion-datetime::part(today) {
                border: dashed;
                border-color: rgba(98, 101, 171, 1);
            }
            // ion-datetime::part(active) {
            //     background-color: none;
            // }
            $absent-color: rgba(225, 122, 122, 1);
            $present-color: rgba(122, 225, 138, 1);

            // ion-datetime::part(active){
            //     @if ($day == $present-color){
            //         background-color: $absent-color;
            //     }
            // }
        }
    }
}

#map-start {
    h5 {
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 0.5rem;
        font-size: 16px;
    }
    .map-container {
        margin: 0 0 2rem 0;
        background: rgba(239, 245, 247, 1);
        border-radius: 15px;
        padding: 1rem;

        p {
            margin: 0;
            margin-bottom: 0.3rem;
            font-size: 13px;
        }
        #map {
            height: 400px;
            border-radius: 15px;
            // width: 100vw;
        }
    }
}

#popup-update-message {
    position: fixed;
    top: 90px;
    right: 0px;
    background: rgba(239, 245, 247, 1);
    padding: .5rem;
    border-radius: 10px;

    p {
        margin: 0;
        color: rgba(98, 101, 171, 1);
    }

    ion-progress-bar {
        margin-top: 0.5rem;
        border-radius: 4px;
        --progress-background: rgba(98, 101, 171, 1);
    }
}

.bold {
    font-weight: 500;
    font-size: 16px;
}

.smaller {
    font-weight: 400;
    font-size: 13px;
}
