<ion-header class="ion-no-border" [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Genitore Page
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="container">
        <h1>
            Mobilityamoci <br> Pedibus <br> App <br>
        </h1>
        <h3>Inquadra il QR Code fornito per email</h3>
        <p><a href="">Non hai ricevuto nessun codice?</a></p>
    </div>

    <div id="code-scanner">
        
    </div>
</ion-content>
