.container {
    margin-left: 3rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 90vw;

    #logo {
        display: flex;
        justify-content: start;
        flex-direction: column;
        margin-bottom: 2rem;
        margin-top: 2rem;

        h1 {
            margin: 0;
            margin-right: 3rem;
            font-family: "M PLUS Rounded 1c", sans-serif;
            font-weight: 700;
            font-style: normal;
            font-size: 58px;
            color: rgba(213, 235, 244, 1);
            line-height: 70px;
        }
    }

    h3 {
        margin-right: 3rem;
        margin-top: 0;
        font-size: 20px;
        word-wrap: break-word;
    }

    p {
        margin: 0;
        a {
            color: white;
            text-decoration: none;
            border-bottom: 1px solid white;
            font-size: small;
        }
    }
}

#code-scanner {
    position: relative;
    margin: 50px auto;
    margin-top: 30px;
    width: 75vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;

    ion-spinner {
        position: absolute;
        width: 80%;
        height: 80%;
        color: rgba(213, 235, 244, 1);
        background: none;
    }

    video {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

#piacenza {
    display: flex;
    justify-content: center;
    align-items: center;
    // position: fixed;
    bottom: 3rem;
    left: 50%;
    right: 50%;
    flex-direction: column;
}
