/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import "~leaflet/dist/leaflet.css";
* {
    --background: rgb(98, 101, 171);
    --ion-color-base: var(--ion-color-primary, transparent);
    font-family: "Inter", sans-serif;
}

:root.md {
    --ion-color-violet: rgba(98, 101, 171, 1);
    --ion-background-color: none !important;
    --ion-color-primary: white !important;
}

#spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none !important;
    height: 90vh !important;
    ion-spinner {
        color: rgba(98, 101, 171, 1);
        width: 100px;
        height: 100px;
    }
}

.modal-open {
    filter: blur(8px);
    --background: rgba(100, 100, 100, 0.3) !important;
    background: rgba(100, 100, 100, 0.3) !important;
}

.custom-alert-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80vw;
    max-width: 500px;
    z-index: 1000;

    ion-card {
        border-radius: 38px;
    }

    ion-card-header {
        background: white;
        ion-card-title {
            color: black;
            margin-top: 0.7rem;
            margin-left: 1rem;
            text-transform: uppercase;
        }
    }

    ion-card-content {
        background-color: white;
        color: black;
        margin-top: -0.1rem;
        p {
            margin-left: 1rem;
            margin-bottom: 2.5rem;
        }

        ion-button {
            color: white;
            text-transform: capitalize;
        }
        ion-button.custom-button::part(native) {
            background: rgba(98, 101, 171, 1);
            border-radius: 35px;
            padding: 1.2rem;
            margin-top: 2.5rem;
        }
    }

    .error-image {
        display: block;
        margin: 20px auto;
        max-width: 100%;
        height: auto;
    }
}

#scanner-btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;

    ion-button {
        width: 60vw;
        margin-bottom: 0.5rem;
        font-size: larger;
        text-transform: initial;
        color: rgba(98, 101, 171, 1);
        --background: white;
        --padding-top: 1rem;
        --padding-bottom: 1rem;
        --border-radius: 20px;
    }
}

#piacenza {
    display: flex;
    justify-content: center;
    align-items: center;
    // position: fixed;
    bottom: 3rem;
    left: 50%;
    right: 50%;
    flex-direction: column;
}
